<ion-header>
  <ion-toolbar color=warning class="ion-text-center">
    <ion-title color="dark" class="header">CHAIR</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h3>Why Buy A Gaming Chair?</h3>
    </ion-card-header>
 
    <ion-card-content>
      Gaming chairs get a lot of flak, but the truth is that people buy them because they look cool, and as long as they keep looking cool, people will keep buying them. Myself included.
       But gaming chairs aren’t terrible options and some out there are better than others. So, in this post, we are going to go over seven things that you should consider before you buy a gaming chair.
      <br>
      <br>
      These are some gaming chair that we recommended:
    </ion-card-content>
  </ion-card>
 <br>
  <ion-card>
    <ion-card-header>
      <h2 class="ion-text-center">BEST GAMING CHAIR EVER MADE</h2>
      <img src="assets/download.png" >
      <h2>1. Secretlab Titan Evo (RM1900)</h2>
    </ion-card-header>
  
    <ion-card-content>
      <h7>SPECS: </h7><br>
      Seat Type: Racing back, levelled seat base <br> Recline : 165 degrees Weight capacity: 3Up to 180 kg (397 lbs, XL size only) <br>Weight: 37.5 kg 
      <br>
      <br>
      <h7>REASON TO BUY:</h7><br>
      <br>+Magnetic cushion and covers
      <br>+Very comfortable
      <br>+Everything we want in a gaming chair feature-wise
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <h2 class="ion-text-center">BEST OFFICE CHAIR FOR GAMING</h2>
      <img src="assets/images.jfif" >
      <h2>2. NeueChair (RM450)</h2>
    </ion-card-header>
  
    <ion-card-content>
      <h7>SPECS: </h7><br>
      Seat Type: Racing back <br> Recline : 90 - 160 degrees Weight capacity: 180 kg (397 lbs) <br>Weight: 33 kg 
      <br>
      <br>
      <h7>REASON TO BUY:</h7><br>
      <br>+Sturdy
      <br>+Perfect for big and tall gamers
      <br>+Extra large lumbar support and neck pillow
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <h2 class="ion-text-center">BEST BUDGET GAMING CHAIR</h2>
      <img src="assets/tt-racing-2949-9746262-1.jpg" >
      <h3>3. TTRacing Duo V3 Gaming Chair (RM399)</h3>
    </ion-card-header>
  
    <ion-card-content>
      <h7>SPECS: </h7><br>
      Seat Type: Racing back <br> Recline : 155 degrees Weight capacity: 180 kg (397 lbs) <br>Weight: 36.5 kg 
      <br>
      <br>
      <h7>REASON TO BUY:</h7><br>
      <br>+Sturdy
      <br>+Perfect for big and tall gamers
    </ion-card-content>
  </ion-card>


</ion-content>
