<ion-header>
  <ion-toolbar color=warning class="ion-text-center">
    <ion-title color="dark" class="header">FAQ</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
  <ion-card>
    <ion-card-header>
      <h4>Q. WHY GAMING PERIPHERAL MATTER TO GAMER?</h4>
    </ion-card-header>
  
    <ion-card-content>
      A. When it comes to the ultimate gaming experience, gaming peripherals rank second in importance only to a high-performance, custom gaming rig. More than just fluffy accessories, peripherals like a keyboard or mouse are indispensable to maximizing both functionality and enjoyment. 
      These unsung heroes of gaming are all too easy to neglect, but they matter far more than you might think.
    </ion-card-content>
  </ion-card>
<br>
  <ion-card>
  <ion-card-header>
    <h4>Q. What is the difference between gaming mouse and simple computer mouse?</h4>
  </ion-card-header>

  <ion-card-content>
    A. Purpose will help to answer this question. ESports has recently been recognized as an official sport in almost all over the world, but before that it existed for many years, so now it has firm and unshakable foundation – as well as requirements. Cyber sportsmans must have lightning-fast response, ability to react to the situation in seconds, and the players in the team – 
    strong supporting skills and synergy with their teammates.
  </ion-card-content>
</ion-card>
<br>
<ion-card>
  <ion-card-header>
    <h4>Q. How do I choose the best PC gaming accessories?</h4>
  </ion-card-header>

  <ion-card-content>
    A. Buying PC gaming accessories can potentially be a longer-term investment than the actual gaming PC or gaming laptop you’ve chosen. It’s critical to make the right decisions early on, as once you’ve decided on the gaming PC you want most, you’ll want to pair it with top gaming accessories 
    that won’t hinder your in-game performance, but will instead evolve it.
  </ion-card-content>
</ion-card>
<br>

</ion-content>
